<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>sign up for chat-app</title>
</head>
<body>

    <!-- // sign up -->
    <form action="/register" method="post">        
        <div class="form">
            <div class="create-account"> create account </div>
            <div class="fill-form">fill the form to register</div>
            
            <div class="full-name">
                <label for="">Full Name</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="email">
                <label for="">E-mail</label>
                <input type="text" name="email" id="email">
            </div>
            <div class="password" name="password" id="password">
                <label for="">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="confirm-pw" >
                <label for="">Confirm Password</label>
                <input type="password" name="cpassword" id="cpassword">
            </div>
            <div class="sign-up">
                <button type="submit" id="submitbtn" name="submitbtn" value="submit">Sign Up</button>
            </div>
        </div>
    </form>
        
        
    </body>
    <script src="./script.js"></script>
    </html>