<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login here</title>
</head>
<body>
      <!-- // login  form-->
      <div class="form">
        <div class="create-account"> login </div>
        <div class="fill-form">Enter your credential</div>

        
        <div class="email">
            <label for="">E-mail</label>
            <input type="text">
        </div>
        <div class="password">
            <label for="">Password</label>
            <input type="password">
        </div>
       
        <div class="sign-up">
            <button>login</button>
        </div>
    </div>
</body>


<script src="./script.js"></script>
</html>